.page_heading {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.page_heading h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
.tabs {
  display: flex;
  margin-bottom: 12px;
}
.tab_items {
  width: 80px;
  text-align: center;
  border: 1px solid black;
  padding: 2px 7px;
}
.tab_items:first-child{
  border-radius: 4px 0px 0px 4px;
}
.tab_items:last-child{
  border-radius: 0px 4px 4px 0px;
}
.tab_items:hover{
  font-weight: 500;
  cursor: pointer;
}
.tab_items:active{
  font-weight: 700;
}
